# Сгенерированные файлы CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
# Исполняемые файлы и объектные файлы
*.o
*.out
*.exe
# Временные файлы и резервные копии
*~
*.swp
*.bak
# Файлы Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.pdb
*.ilk
*.exp
*.lib
.vs/         # Папка с настройками Visual Studio
Debug/
Release/
# Файлы Visual Studio Code
.vscode/     # Настройки VS Code (если используешь)
# Локальные файлы WSL
*.wslconfig
# Логи и другие временные файлы
*.log